.carousel-caption{
    right:15% !important;
    left:50% !important;
    /*vw = medida que considera a largura disponivel da tela*/
    top: 15vw !important;
    text-align: right !important;
}

    @media (max-width:992px) {
        .carousel-caption h1 span{
        font-size: 3rem!important;
    }
    .carousel-caption h1 {
        font-size: 2rem !important;
    }
    .carousel-caption p {
        font-size: 1rem !important;
    }
}


@media (max-width:768px) {
    .carousel-caption h1 span{
    font-size: 6vw !important;
}
.carousel-caption h1 {
    font-size: 4.5vw !important;
}
.carousel-caption p {
    font-size: 1rem !important;
}
}

.carousel-caption h1 {
    font-size: 3rem;
    font-family: "Irish Grover", cursive, system-ui;    
}

.carousel-caption h1 span{
    font-size: 5rem;
    color: rgb(155, 5, 5);
    text-shadow: 5px 5px 5px gray;
}

.carousel-caption p {
    font-size: 1.3rem;
}